<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title> Nuevo Empleado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">Agregar producto </h1>
        <div>
            <a class="btn btn-secondary" th:href="@{/productos}">Listado de productos</a>
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('producto')}"/>
    <form th:action="${T(edu.utp.nisiadmin.util.WebUtils).getRequest().requestURI}" method="post">
        <div th:replace="~{fragments/forms::inputRow(object='producto', field='nombre')}"/>
        <div th:replace="~{fragments/forms::inputRow(object='producto', field='descripcion')}"/>
        <div th:replace="~{fragments/forms::inputRow(object='producto', field='cantidad')}"/>
        <div th:replace="~{fragments/forms::inputRow(object='producto', field='precio')}"/>
        <div th:replace="~{fragments/forms::inputRow(object='producto', field='fotoUrl')}"/>
        <input type="submit" class="btn btn-primary mt-4" th:label="Agregar"/>
    </form>
</div>
</body>
</html>