<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Listado de productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">Productos</h1>
        <div>
            <a class="btn btn-primary ms-2" th:href="@{/productos/nuevo}" th:text="#{producto.list.createNew}"/>
        </div>
    </div>
    <div th:if="${productos.empty}" th:text="#{producto.list.empty}"/>
    <div class="table-responsive" th:if="${!productos.empty}">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th scope="col" th:text="#{producto.id.label}"/>
                <th scope="col" th:text="#{producto.nombre.label}"/>
                <th scope="col" th:text="#{producto.descripcion.label}"/>
                <th scope="col" th:text="#{producto.estado.label}"/>
                <th scope="col" th:text="#{producto.precio.label}"/>
                <th scope="col" th:text="#{producto.fotoUrl.label}"/>
                <th><!-- --></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.id}"/>
                <td th:text="${producto.nombre}"/>
                <td th:text="${producto.descripcion}"/>
                <td th:text="${producto.estado}"/>
                <td th:text="${'S/. '+producto.precio}"/>
                <td th:text="${producto.fotoUrl}"/>
                <td>
                    <div class="float-end text-nowrap">
                        <a class="btn btn-sm btn-info" th:href="@{/productos/editar/{id}(id=${producto.id})}"
                           th:text="#{producto.list.edit}"/>
                        <form th:action="@{/productos/eliminar/{id}(id=${producto.id})}"
                              th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                            <button class="btn btn-sm btn-danger" th:text="#{producto.list.delete}" type="submit"/>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>